.btn {
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px;
  margin-top: 10px;
  gap: 10px;
}

.success {
  background-color: #348346;
}

.success:hover {
  background-color: #348346;
}

.danger {
  background-color: #dc3545;
}

.danger:hover {
  background-color: #c82333;
}

.update {
  background-color: #2256ff;
}

.update:hover {
  background-color: #2256ff;
}